@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2>

@{
    // Detta är det XElement-objekt som skickats till vyn
    XElement xml = Model;
}
@{  foreach (XElement arende in Model.Descendants("Ärende"))
    {
        <h3>Ärende @((string)arende.Element("lopnummer"))</h3>
        <p>Bidrag: @((string)arende.Element("Bidrag"))</p>
        <table class="table-bordered" width="50%">
            <thead>
                <tr>
                    <th>
                        Datum
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Summa
                    </th>
                </tr>
            </thead>
            <tbody>
                
                 @{ foreach (XElement utbet in arende.Elements("Utbetalningar"))
                       {
                           <tr>
                                <td>@((string)utbet.Element("Datum"))</td>
                                <td>@((string)utbet.Element("Status"))</td>
                                <td>@((string)utbet.Element("Summa"))</td>
                           </tr>

                       }

                  }

            </tbody>
        </table>
    }

 }